/* FONTS */
.roboto-header {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Actual site */
body {
    margin: 0 auto;
    padding: 0;
}
.clear {
    height: 1.5em
}


/* PC */
.header {
    position: sticky;
    top: 0;
    text-align: center;
    line-height: 2em;
    background-color: rgb(25, 13, 136);
    box-shadow: 0em 0.2em 0.2em 0em rgba(16, 9, 87, 0.801);
    color: white;
    padding: 0.5em;
    font-size: 1.6em
}
.footer {
    position: sticky;
    bottom: 0;
    text-align: center;
    line-height: 2em;
    background-color: rgb(25, 13, 136);
    box-shadow: 0em 0.2em 0.2em 0em rgba(16, 9, 87, 0.801);
    color: white;
    font-size: 1.6em
}
.wybor {
    text-align: center;
    color: white;
    padding-top: 1.5em;
}
.wybor button {
    background-color: rgb(25, 13, 136);
    /*box-shadow: 0.2em 0.2em 0.2em 0em rgba(16, 9, 87, 0.801);*/
    border: none;
    border-radius: 0.2em;
    color: white;
    font-size: 1.3em;
/*  transition: 0.15s;*/
    padding: 0.5em;
    width: 30%;
}
/*.wybor button:hover {
    background-color: rgb(18, 17, 94);
    transition: 0.15s;
}*/
.wybor button:active {
    background-color: rgb(89, 33, 126);
}
.section-dist {
    border: 0.2em solid rgb(25, 13, 136);
    width: 40%;
    border-radius: 1em;
    margin-top: 2em;
}



/* iPad 10th gen 10"9*/
@media only screen and (max-width: 900px) {
    .header {
        padding: 0.3em;
        font-size: 1.6em
    }
    .footer {
        font-size: 1.6em;
        padding: 0.3em;
    }
    .wybor {
        text-align: center;
        color: white;
        padding-top: 2.2em;
    }
    .wybor button {
        font-size: 1.5em;
        padding: 0.6em;
        width: 80%;
    }
    .section-dist {
        margin-top: 2.7em;
        width: 90%;
    }
    .clear {
        height: 3em
    }
}



/* iPhone 13 */
@media only screen and (max-width: 500px) {
    .header {
        padding: 0.2em;
        font-size: 1.4em;
        content: 'aaa';
    }
    .header span {
        display: none;
    }
    .header:after {
        content: 'Przygotowanie do egzaminu z \A PKSC';
        white-space: pre-line;
    }
    .footer {
        font-size: 1.4em;
        padding: 0.2em;
    }
    .wybor {
        text-align: center;
        line-height: 2em;
        color: white;
        padding-top: 1.5em;

    }
    .wybor button {
        font-size: 1.4em;
        padding: 0.5em;
        width: 80%;
    }
    .section-dist {
        margin-top: 2em;
        width: 90%;
    }
    .clear {
        height: 2em
    }
}
